---
import Layout from "../../layouts/Layout.astro";
import AboutContent from "../../components/contentPage/AboutContent.astro";
import HomeContent from "../../components/contentPage/HomeContent.astro";
import Knowledge from "../../components/contentPage/Knowledge.astro";
import Experience from "../../components/contentPage/Experience.astro";
import Projects from "../../components/contentPage/Projects.astro";
import Contact from "../../components/contentPage/Contact.astro";

const language = "en";
---

<Layout language="en">
  <main>
    <HomeContent language={language} />
    <AboutContent language={language} />
    <Knowledge language={language} />
    <Experience language={language} />
    <Projects language={language} />
    <Contact language={language} />
  </main>
</Layout>
