---
import { ContentPage } from "../../data";
import type { LanguagesContent } from "../../types/content";
import ButtonComplete from "../basic/ButtonComplete";
import IconButton from "../basic/IconButton";

interface Props {
  language: LanguagesContent;
}

const { language } = Astro.props;

const { title, subTitle, button1, button2 } = ContentPage[language].homeContent;

const TitleComponent = () => title;
---

<section class="bg-white py-12 relative">
  <div id="home-section" class="absolute bottom-full h-16"></div>
  <div class="flex flex-col items-center px-4">
    <div
      class="mb-4 w-40 h-40 rounded-full border-primary-700 border-4 relative overflow-hidden"
    >
      <img
        class="-top-[18%] absolute"
        src="/assets/images/jp-profile.jpg"
        alt="jp-profile"
      />
    </div>
    <h1
      class="mb-2 flex flex-wrap justify-center gap-4 text-4xl whitespace-nowrap"
    >
      <TitleComponent />
    </h1>
    <h2 class="mb-4">{subTitle}</h2>
    <div class="flex items-center gap-1 mb-5">
      <ButtonComplete
        typeElement="a"
        href={button1.url}
        icon1={button1.iconClass}
        text={button1.text}
        size="s"
        variant="outlined"
        bgColor="primary"
        textColor="primary"
      />
      <ButtonComplete
        typeElement="a"
        href={button2.url}
        icon1={button2.iconClass}
        text={button2.text}
        size="s"
        variant="outlined"
        bgColor="primary"
        textColor="primary"
      />
    </div>
    <div class="flex gap-4">
      <IconButton typeElement="a" icon="iconportafoliojp-github" href="#" />
      <IconButton typeElement="a" icon="iconportafoliojp-linkedin" href="#" />
    </div>
  </div>
</section>
