---
import { ContentPage } from "../../data";
import type { LanguagesContent } from "../../types/content";
import CardProject from "../CardProject.astro";
import ButtonComplete from "../basic/ButtonComplete";

interface Props {
  language: LanguagesContent;
}

const { language } = Astro.props;

const {
  title,
  paragraph,
  projects,
  seeProjectIcon,
  seeProjectText,
  seeMoreIcon,
  seeMoreText,
} = ContentPage[language].projectContent;
---

<section class="bg-auxiliar1-200 py-12 relative">
  <div id="projects-section" class="absolute bottom-full h-16"></div>
  <div class="px-4">
    <h3 class="text-primary-700 text-4xl mb-5">{title}</h3>
    <p class="mb-7">{paragraph}</p>
    <div class="grid grid-cols-1 gap-5 mb-6">
      {
        projects
          .filter((_, i) => i < 4)
          .map((project) => {
            return (
              <CardProject
                project={project}
                language={language}
                seeProjectIcon={seeProjectIcon}
                seeProjectText={seeProjectText}
              />
            );
          })
      }
    </div>
    <ButtonComplete
      text={seeMoreText}
      icon1={seeMoreIcon}
      typeElement="a"
      size="xl"
      href={`/${language}/projects`}
    />
  </div>
</section>
