---
import type { GetStaticPaths } from "astro";
import AboutContent from "../../components/contentPage/AboutContent.astro";
import Contact from "../../components/contentPage/Contact.astro";
import Experience from "../../components/contentPage/Experience.astro";
import HomeContent from "../../components/contentPage/HomeContent.astro";
import Knowledge from "../../components/contentPage/Knowledge.astro";
import Projects from "../../components/contentPage/Projects.astro";
import Layout from "../../layouts/Layout.astro";
import type { LanguagesContent } from "../../types/content";

export const getStaticPaths = () => {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
};

const { lang } = Astro.params;

const language = lang as LanguagesContent;
---

<Layout language={language}>
  <main>
    <HomeContent language={language} />
    <AboutContent language={language} />
    <Knowledge language={language} />
    <Experience language={language} />
    <Projects language={language} />
    <Contact language={language} />
  </main>
</Layout>
